@page "/"

<h1>Willkommen!</h1>

<ul>
    <li><a href="/Uebung1">&Uuml;bung 1: Punktschätzung</a></li>
    <li><a href="/Uebung2">&Uuml;bung 2: PERT-Schätzung</a></li>
    <li><a href="/Uebung3">&Uuml;bung 3: T-Shirt-Size-Schätzung</a></li>
</ul>

